@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
    font-family: 'Roboto', sans-serif;
}


main {
    margin: 50px auto;
    text-align: center;
}

.header {
    position: relative;
    margin-bottom: 1 rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.container {
    margin-top: 20px;
}

.btn-primary {
    width: 100%;
}
 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
 td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
  }